 *{
  margin: 0;
}

/*
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_left_header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-around;
}

.app_left{
  flex:.8;
  margin-bottom: 4px;
}

.app__right {
  display: flex;
  flex-direction: column;
}





@media (max-width:990px){
  .app{
    flex-direction: column;
  }
  .app_header{
    flex-direction: column;
  }
 

} */